.calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    padding: 20px;
}

.tententive {
    background-color: rgb(175, 255, 71);
   
}
.busy {
    background-color:red;
   
}

.free{
    background-color: green;
    
}
.free,.busy,.tententive {
  text-align: center;
    width: 70px;
}

.header {
    border-bottom: solid black 2px;
    border-top: solid black 2px;

}

.month {
    margin: 10px;
}